<% include ./partials/header.ejs %>
<div class="container" style="padding-top:20px">
<h1>Welcome to SkyPrep</h1>
<hr>
  <a href="/courses"><button type="button" class="btn btn-outline-primary">Click to see All courses</button></a>
  <a href="/login"><button type="button" class="btn btn-outline-success">Login</button></a>
  <a href="/signup"><button type="button" class="btn btn-outline-warning">Signup</button></a>
<br><br>
<% include ./partials/footer.ejs %>
</div>