<% include ./partials/header %>
<body style="background:url('https://blitzen.com/blog/wp-content/uploads/new-tech.jpg'); background-repeat: no-repeat; background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  color:white">
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Login</h1>
        </div>
        <h3 style="text-align: center">Student </h3>
        <div style="width:30%; margin:25px auto;">
        <a href="/students/login">
            <div class="form-group"> <button type="button" class="btn btn-outline-success btn-md"> Login as Student </button></div>
        </a>
        <a href="/instructors/login">
            <div class="form-group"> <button type="button" class="btn btn-outline-info btn-md"> Login as Instructor </button></div>
        </a>
        
        <a href="/courses">Back</a>
    </div>
<% include ./partials/footer %>